$main-font: 'Quicksand', sans-serif;

$primary-text-color: #000;
$secondary-text-color: #707070;
$white: #fff;

$primary-bg-color: #fa96aa;
$secondary-bg-color: #f7f0f2;

$mobile-breakpoint: 380px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$tablet: 728px;
$desktop: 1024px;
